<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Student</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>Add New Student</h1>

    <!-- Form to add a new student to the database -->
    <!-- Remember, if the form has method="post", the form data will be sent to the URL attached to the HTTP body -->
    <!-- Remember, if the form has method="get", the form data will be attached to the URL as a query string -->
    <form action="/students" method="post">
        <!-- input for the firstname -->
        <label for="input-firstname">First Name: </label>
        <input id="input-firstname" name="firstname" type="text" placeholder="John">
        <br>
        <!-- input for the lastname -->
        <label for="input-lastname">Last Name: </label>
        <input id="input-lastname" name="lastname" type="text" placeholder="Smith">
        <br>
        <!-- submit button -->
        <button type="submit">Add Student</button>
    </form>

</body>
</html>