<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>

    <form action="/students" method="get">
        <label for="input-firstname">Firstname Search: </label>
        <input id="input-firstname" name="firstname" type="text">

        <label for="select-order">Order: </label>
        <select name="order" id="select-order">
            <option value="none">--- Select a sorting order ---</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>

        <button type="submit">Apply Filter</button>
    </form>

    <ul>
        <% studentList.forEach(s => { %>
         <li><%= s.firstname %> <%= s.lastname %> <small>(ID: <%= s.studentId %>)</small></li>
        <% }) %>
    </ul>
    <% if (studentList.length == 0) { %>
     <i>No students registered</i>
    <% } %>
</body>
</html>